#Hey everybody that looks at this.
#This is not our Robot's code.
#Stop looking here. Illegal stuff
#might be hidden here. Remember,
#every ho has a pimp, and every
#pimp has a gun. For more LPTs,
#visit www.reddit.com/r/lifeprotips.

/bin/

.classpath
.project